{% extends "layout.html" %}
{% block title %}Created - ShadowCipher{% endblock %}
{% block page %}Created - ShadowCipher{% endblock %}

{{ super() }}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 10%;">
        <div class="col s12 m10 offset-m1">
            <div class="card-content">
                <h1>201 - Created</h1>
                <p>database intialized!</p>
            </div>
            <div class="card-action">
                <a href="/" class="waves-effect waves-light btn">Back To Main</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}