{% extends "layout.html" %}
{% block title %}User History: {{ user.username }} - ShadowCipher{% endblock %}
{% block page %}User History: {{ user.username }} - ShadowCipher{% endblock %}

{{ super() }}

{% block content %}
<body class="content fill-space" style="background-color: #262627;">
  <nav class="nav-extended" style="margin-bottom:10px; background-color: #202020;">
    <div class="nav-wrapper row">
      <a href="#" style="font-size: 1.5em" class="brand-logo left">{{ user.username }}'s Game History</a>
      <form class="right" action="/user_search" method="GET">
        <ul class="col">
          <li>
            <input type="search" name="username" id="username" placeholder="Search username">
          </li>
          <li>
            <input type="submit" value="Search">
          </li>
        </div>
      </form>
    </div>
  </nav>

  <div class="row" style="position: absolute; height:20px; top:0; z-index:10; width:100vw">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="blue lighten-5 col s10 offset-s1">
            <div class="row"> 
                <div class="col s11" style="font-weight: bold;text-align: center">
                  {{ message }}
                </div>
                <div class="col s1">
                  <a href="" style="font-size:1.5em" >&times;</a>
                </div>  
            </div>
          </div> 
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <div class="row" style="margin: 0; padding:0; margin-top:-10px">
    <div class="col s12 m9 l8">
      <h1 style="color: white;">Games</h1>
    </div>
  </div>

  <div class="row">
    <section class="col s12 m9 l8" style="overflow-y:scroll; height: 70vh">
      <div class="row" style="width: 100%">
        {% for game in user_games %}
        <div class="card">
          <!-- <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div> -->
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ game.date.strftime('%B %d, %Y') }}<i class="material-icons right">more_vert</i></span>
            <p>Answer: {{ game.answer }}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <section class="col s12 m3 l4" style="overflow-y:scroll; height: 70vh">
      <ul class="collection">
        {#<!-- show students currently in course here -->
        <!-- {% for student in enrolled_students %}
        <li class="collection-item avatar">
          <img src="{{ student.image }}" alt="" class="circle">
          <div class="row">
            <div class="col">
              <span class="title">{{ student.first_name }} {{ student.last_name }}</span>
              <p>{{ student.id }}</</p>
            </div>
            <a class="right waves-effect waves-light btn" href="/drop_course/{{ student.id }}/{{ selected_course }}">Remove</a>
          </div>
        </li>
        {% endfor %} -->#}
      </ul>
    </section>
  </div>
</body>
{% endblock %}
